/* 
CSS TABLE OF CONTENTS 
1.0 - GENERAL STYLES
2.0 - BOARD

*/

html {
    font-family: 'Londrina Solid', cursive;
}

body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: 'Londrina Solid', cursive;
    font-size: 1em;
    background: white;
}

h1 {
    font-size: 7em;
}

h2 {
    font-size: 3em;
}

form > p {
    font-size: 2em;
}

label {
    font-size: 2em;
}

.modal {
    position: fixed;
    z-index: 100;
    left: 30%;
    top: 30%;
    width: 40%;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    width: 40%;
    background: white;
    font-size: 1.5em;
    text-align: center;
}

#result-message {
    font-size: 2em;
    padding: 0.5em;
}

#play-again {
    font-size: 1.25em;
}

#main-play {
    font-size: 2em;
}

.board-title {
    text-align: center;
    font-size: 1.2em;
    margin: 1em;
}

.title-page {
    position: static;
    text-align: center;
    width: 800px;
    margin-top: 30%;
}

.ghost {
    display: none;
}

.header {
    font-size: 3.5em;
    text-align: center;
    padding: 1em;
}

.instruction-container {
    display: flex;
}

.instructions {
    width: 50%;
    text-align: center;
    font-size: 1.2em;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hit-ship:before {
    position: relative;
    content: ' \25CF';
    font-size: 30px;
    color: #f96d6d;
    z-index: 100;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miss-ship:before {
    position: relative;
    content: ' \25CF';
    font-size: 30px;
    color: #8fb1e9;
    z-index: 100;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5em;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border-top: 1px solid rgba(128, 128, 128,0.5);
    border-left: 1px solid rgba(128, 128, 128,0.5);
}

.square {
    border-bottom: 1px solid rgba(128, 128, 128,0.5);
    border-right: 1px solid rgba(128, 128, 128,0.5);
    width: 30px;
    height: 30px;
}

.hit {
    width: 30px;
    height: 30px;
    background: #f96d6d;
}

.miss {
    width: 30px;
    height: 30px;
    background: #8fb1e9;
}

.ship {
    /* think about adding display: absolute */
    position: absolute;
    background: rgba(144, 238, 144, 0.5);
    border: 1px solid black;
    z-index: 1;
}

.HA {
    width: 154px;
    height: 30px;
}

.HB {
    width: 123px;
    height: 30px;
}

.HC1, .HC2 {
    width: 92px;
    height: 30px;
}

.HD {
    width: 61px;
    height: 30px;
}

.VA {
    width: 30px;
    height: 154px;
}

.VB {
    width: 30px;
    height: 123px;
}

.VC1, .VC2 {
    width: 30px;
    height: 92px;
}

.VD {
    width: 30px;
    height: 61px;
}

.noClick {
    pointer-events: none;
}

#move {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}